$section: '.stickers';

#{$section} {
    background-color: $inputBg;
    padding-bottom: 5rem;

    &__column {
        align-items: flex-start;
    }

    &__grid {
        align-items: center;
        display: flex;
        flex-direction: row;
        height: 150px;
        justify-content: space-between;
        max-width: 100%;
        width: 100%;
    }

    &__img {
        display: flex;
        max-width: calc((100% / 6) - 1.5rem);
        width: 100%;
    }
}