$component: '.heading';

#{$component} {
    color: $headings;
    font-weight: 400;
    font-size: 37px;
    line-height: 1.3em;

    @include mq($until: mobile) {
        font-size: 30px;
    }

    &--2 {
        font-size: 25px;
        font-weight: 400;

        @include mq($until: mobile) {
            font-size: 25px;
        }
    }

    &--3 {
        font-family: $secondaryFont;
        font-size: 25px;

        @include mq($until: mobile) {
            font-size: 25px;
        }
    }

    &--4 {
        font-size: 19px;
        font-weight: 700;

        @include mq($until: mobile) {
            font-size: 19px;
        }
    }
}