$layout: '.row';

#{$layout} {
    display: flex;
    flex-direction: row;
    height: auto;
    min-height: 1px;
    width: 100%;

    @include mq($until: mobile) {
        flex-direction: column;
    }

    &--space-between {
        justify-content: space-between;
    }
}