// Breakpoints
$mq-breakpoints: (
    xxmobile: 480.5px,
    xmobile:  640px,
    mobile:  767.5px,
    tablet: 992.5px,
    middle: 1140.5px,
    large: 1220px,
);

// Size for containers
$containerMaxWidth: 1140px;
$containerPadding: 30px;

// Fonts

// Font size

// Colors