// Breakpoints
$mq-breakpoints: (
    mobile:  360px,
    tablet: 980px,
    large: 1200px,
);

// Size for containers
$containerMaxWidth: 1140px;
$containerPadding: 30px;

// Fonts

// Font size
$primaryFont: 'Open Sans', sans-serif;
$secondaryFont: 'Satisfy', cursive;

// Colors
$white: #ffffff !default;
$headings: #000000 !default;
$body: #929292 !default;
$primaryAccent: #fbaac2 !default;
$secondaryAccent: #ffced4 !default;
$buttonHover: #b7d4d2!default;
$preTitle: #232323 !default;
$subText: #0b0b0b !default;
$linkHover: #f79420 !default;